<h2>ENVS</h2>
<ul>
	{{#each appEnvs as |env|}}
		<li>{{env.flag}}: <strong>{{env.value}}</strong></li>
	{{/each}}
</ul>

<h2>PAGES</h2>
<ul>
	<FeatureWrapper @features={{featureFlags.FEATURES.WELCOME}}>
		<li>
			{{link-to "Welcome Page (page-a)" "page-a"}}
		</li>
	</FeatureWrapper>

	<FeatureWrapper @features={{featureFlags.FEATURES.NEWS}}>
		<li>
			{{link-to "News Page (page-b)" "page-b"}}
		</li>
	</FeatureWrapper>

	<li>{{link-to "Page C" "page-c"}}</li>
</ul>

{{outlet}}
